

.settings{

    @include sm{
        padding: .5rem;
    }

    label{
        font-size: 12px;
        font-weight: 600;
    }

    &__section{
        background-color: #F0F0F0;
        padding: 2rem;
        height: fit-content;

        @include sm{
            padding: 0;
        }

        &__tabs{
            border-radius: 10px;
            background: #fff;
            padding: 2rem;

            @include sm{
                border-radius: 0px;
                padding: 0rem;
            }
        }
    }
}