
.menubar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    height: 100vh;
    position: relative;
    transition: all ease-in-out 1s;
    box-shadow: 5px 0px 15px -3px rgba(0,0,0,0.1);

    :where(*, *::before, *::after) {
        word-wrap: normal;
    }

    @include md{
        padding: 1rem;
    }

    &__top{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &__logo{
            display: flex;
            gap: 12px;
            margin-top: 3rem;

            h1{
                font-weight: 600;
                font-size: 2rem;
                width: fit-content;
                transition: width ease-in-out 300ms, opacity ease-in-out 0;
            }
        }

        &__lists{
            display: flex;
            flex-direction: column;
            gap: .5rem;

            &__item{
                text-decoration: none;
                color: #8E92BC;
                border-radius: 10px;
                transition: all ease-in-out 300ms;

                &__each{
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    padding: 10px;
                    width: fit-content;
                    transition: all ease-in-out 300ms;

                    p{
                        font-size: 14px;
                    }
                    span{
                        font-size: 20px;
                    }
                }
            }
            &__item:hover, &__item:active{
                color: #141522;
                background-color: #F5F5F7;
                        font-weight: 500;
            }
        }
    }

    &__bottom{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 3rem;
        padding: 1rem;
        background-image: url("../../assets/pexels-kubiceknov-924824.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        height: 248px;
        position: relative;
        width: fit-content;
        transition: width ease-in-out 300ms, opacity ease-in-out 0;

        &__top{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h4{
                color: #fff;
                line-height: 0;
                margin: .5rem;
                font-weight: 400;
            }
            p{
                color: #fff;
                font-size: .8rem;
                margin-bottom: -2rem;
                text-align: center;
                font-weight: 300;
            }
        }

        &__btn{
            background-color: #fff;
            color: #141522;
            border-style: none;
            border-radius: 10px;
            padding: 12px 24px;
        }
        &__btn:hover{
            animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

                @keyframes scale-down-center {
                    0% {
                        transform: scale(1);
                    }
        
                    100% {
                        transform: scale(0.9);
                    }
                }

        img{
            position: absolute;
            top: -15%;
            left: 25%;
        }

    }
}

.link__active{
    color: #141522;
    background-color: #F5F5F7;
    font-weight: 500;
}

.menubar__icon{
    position: absolute;
    right: 10;
    z-index: 1;
    padding: .5rem 1rem;

    @include md{
        right: 5;
        padding: .5rem;
    }

    svg{
        width: 30px;
        height: 30px;
    }
}

.h1__active, .help__active, .list__active{
    opacity: 0;
    width: 0 !important;
}
.each__active{
    width: fit-content;
}
.menu__active{
    padding: 2rem .5rem;

    @include md{
        padding: 2rem 0rem;
    }
}