@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    margin: auto !important;
    max-width: 2156px;
    overflow: hidden;
}

*{
    font-family: "Manrope", sans-serif;
    box-sizing: border-box; 
}